{% extends 'base.html' %}
{% block title %}
Lugares y Servicios
{% endblock %}
{% block content %}

 
        <section class="section">
          <div class="buttons is-centered is-desktop">
            <button class="button is-info">Restaurantes</button>
            <button class="button is-success">Comercios</button>
            <button class="button is-warning">Servicios</button>
            <button class="button is-danger">Hospedaje</button>
            
          </div>
            <div class="container">
                <div class="columns is-multiline">
                    {% for obj in object_list %}
                    <div class="column is-3 is-flex" >
                        <a href="{% url 'negocio_detail' obj.slug %}">
                        <div class="card">
                            <div class="card-image">
                              <figure class="image is-4by3">
                                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                              </figure>
                            </div>
                            <div class="card-content">
                              <div class="media">
                                <div class="media-left">
                                  <figure class="image is-48x48">
                                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                  </figure>
                                </div>
                                <div class="media-content">
                                  <p class="title is-4">{{ obj.name }}</p>
                                  <p class="subtitle is-6">@{{ obj.fk }}</p>
                                </div>
                              </div>
                          
                              <div class="content">
                                {{ obj.description }} <a>@bulmaio</a>.
                                <a href="#">#css</a> <a href="#">#responsive</a>
                                <br>
                                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                              </div>
                            </div>
                          </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        


    
{% endblock %}